
<form method="post">
    <p>
    <p> ev dataset generation intake form </p>

    E-mail: <input type="email" name="recipient"><br/>

    Begin date: <input type="date" name="begin_date" value="2024-01-01"><br/>
    End date: <input type="date" name="end_date" value="2024-01-01"><br/>

    <p>Uniqueness inside dataset:<br/>
        <input type="radio" name="uniqueness_inside" value="postid">Post ID<br>
        <input type="radio" name="uniqueness_inside" value="searchzip_postid" checked>Search zip code and Post ID
    </p>

    <p>Uniqueness outside dataset:<br/>
        <input type="radio" name="uniqueness_outside" value="new">New<br>
        <input type="radio" name="uniqueness_outside" value="all" checked>All
    </p>

   <input type="submit" name="dopost" value="Submit"/>
   <input type="button" 
    onclick="location.href='http://www.dj4e.com/'; return false;"
    value="Escape">
   </p>
</form>